.container {
    /* margin: 4em auto 1em auto; */
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-items: center;
}

.container > * {
    width: 80%;
}

.ticketActions {
    width: 50% !important;
}

.ticketActions {
    display: flex;
    flex-direction: column;
    height: 2.5em;
    margin: 1.25em auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.backBtn { 
    background: white;
    color: black;
    padding: 0.5em 1em;
    border-radius: 25px;
}

.backBtn:hover { 
    /* background-color: black; */
    color: black;
}

.backBtnDiv { 
    background-color: white;
    opacity: 100%;
    color: black;
    height: inherit;
}

/* .backBtnDiv *:hover {
    color: white;
    background-color: black;
} */

.addComment {
    margin: 2em auto 0 auto;
}

.messageDiv, .details {
    display: flex;
    flex-direction: column;
}

.messageInput {
    margin: 0 auto;
    width: 60%;
    display: flex;
}

.messageDiv {
    border: 1px solid black;
    width: 40em;
    margin: 0.5em auto;
    text-align: center;
}

.messageDetails { 
    display: flex;
    flex-direction:  row;
}

.messageDetails p {
    width: 50%;

}

p { 
    margin: 0;
    padding: 0;
}