.container {
    margin:2em auto;
}

.content { 

    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.title { 
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    height: fit-content;
    background-color: black;
}

.actions {
    display: flex;
    width: fit-content;
    margin: 0.5em auto 1em; 
    justify-content: left;
}


.btnAction {
    white-space: normal;
    margin: 0 1em;
    border-radius: 7px;
}

tr:hover {
    background-color: lightgray;
}
/* 
aside {
    width: 40%;
    height: 90vh;
    overflow: auto;
    text-align: center;
}

aside > div { 
    padding: 0.5em;
    border-top: 5px solid black;
}

main {
    border-left: 5px solid black;
    width: 60%;
    padding: 1em;
    margin-left: 40%;
    margin-top: 0;
} */